/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*общие стили*/

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  color: #fff;
  font-family: var(--accent-font);
  font-size: 0.875rem;
  line-height: 92%;
  background-color: #fff;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}
.button svg {
  mix-blend-mode: difference;
}

.button:hover:before {
  transform: translateX(0);
}

.contour {
  transition: fill 0.1s linear;
}
.main-body {
  transition: fill 0.3s linear;
}
.core {
  transition: fill 0.3s 0.03s linear;
}
.sparks {
  opacity: 0;
}

.is-liked .sparks {
  animation: like-sparks 0.3s ease-in 0.3s;
}

.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in 0.1s;
}

/*hover*/

.like-icon:hover .core {
  --animation-core: #000;
  fill: var(--animation-core);
  transition: fill 0.3s 0s linear;
}

.like-icon:hover .main-body {
  --animation-fill-color: #000;
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

/*click*/
.like-icon:active .core {
  --animation-core: #ff0000;
  fill: var(--animation-core);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .main-body {
  --animation-fill-color: #ff0000;
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

/*liked*/

.like-icon.is-liked .contour {
  --animation-contour-color: #ff0000;
  fill: var(--animation-contour-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  --animation-core: #ff0000;
  fill: var(--animation-core);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  --animation-fill-color: #ff0000;
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.button__text {
  mix-blend-mode: difference;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-cover);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100vh;
}

/*header*/
.header {
  margin-block: 98px 97px;
  border: 2px solid var(--accent-color);
  padding-block: clamp(122px, 9.03vw, 130px);
  font-family: var(--accent-font), sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  inline-size: var(--layout-inline-size);
}

.header__logo {
  padding-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 65px;
}

.header__title {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
}
@media (width <= 375px) {
  .header__logo {
    line-height: 48px;
  }
  .header__title {
    line-height: 16px;
  }
}
/*main*/
.main {
  margin-block-end: 48px;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: #fff;
  inline-size: var(--layout-inline-size);
}
.card:not(:last-child) {
  margin-block-end: 49px;
}

.card__title {
  padding-inline: 10px;
  padding-block: 3px;
  font-weight: var(--font-weight-strong);
  font-size: var(--font-size-text);
  line-height: 1.23;
}
.card__media {
  position: relative;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 0.875rem;
  line-height: 14px;
  text-shadow:
    1px 0 0 #fff,
    -1px 0 0 #fff,
    0 1px 0 #fff,
    0 -1px 0 #fff;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff;)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-weight: var(--font-weight-regular);
}

.card__description p {
  font-size: var(--font-size-text);
  line-height: 1.1667;
}

.card__like-group {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: end;
}

.card__icon-button {
  outline: transparent solid 2px;
  outline-offset: -2px;
  transition: outline 1.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--accent-color) solid 2px;
  outline-offset: -2px;
  transition: outline 1.3s ease;
}

.card__like-button {
  padding-block: 12px;
  min-inline-size: 130px;
}

.card__img-grayscale {
  filter: grayscale(0.8);
}

.card__img-saturate {
  filter: saturate(358%);
}

.card__img-hue-subtle {
  filter: hue-rotate(30deg);
}

.card__img-invert {
  filter: invert(0.8);
}

.card__img-sepia {
  filter: sepia(100%);
}

.card__img-blur {
  filter: blur(7px);
}

.card__img-hue-strong {
  filter: saturate(2.5) hue-rotate(110deg) contrast(0.45);
  /* brightness(0.8)*/
}

/*footer*/
.cta {
  margin-block-end: 100px;
  background-color: #fff;
}

.cta svg {
  width: 21px;
  height: 21px;
}

.cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-inline: 18px;
  padding-block: 15px;
}

@media (width <= 375px) {
  .cta {
    max-width: 306px;
  }
  .cta__button {
    flex-direction: column;
  }
  .cta svg {
    width: 28px;
    height: 28px;
  }
}
/*modal*/
.modal[open]::backdrop {
  opacity: 0.75;
  background-color: #000000;
}
.modal {
  padding: 30px;
  max-inline-size: 357px;
}
.modal__body {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}
.modal__text {
  max-width: 234px;
  font-family: var(--accent-font), sans-serif;
  font-size: 0.875rem;
  line-height: 150%;
  text-transform: uppercase;
}

.modal svg {
  width: 39px;
  height: 39px;
}

.modal__button {
  display: block;
  width: 100%;
  padding-block: 12.5px;
}
