/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", "Arial", sans-serif;
  --accent-font: "PressStart2P", "Pixelify Sans", monospace;
  --font-weight-strong: 715;
  --font-weight-regular: 410;
  --font-size-text: 1.125rem;
  --background-cover:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --layout-inline-size: clamp(375px, 48.6111vw, 1440px);
  --accent-color: #000;
  /*animation*/
  --animation-contour-color: #000;
  --animation-fill-color: transparent;
  --animation-core: transparent;
  --animation-sparks: #ff0000;
}
